body {background:rgb(238, 238, 238);}
.post {background: white; margin-top: 10px; width: 400px; height: 650px; margin: auto;}
.header .left-header{ padding: 8px; display: inline-block; width: 87%}
.logo img {float: left; width: 34px; height: 34px; padding: 3px;}
.left-header p {font-family: sans-serif; margin: 0%; padding: 5px; font-size: 12px; font-weight: bold;}
.left-header span {font-family: sans-serif; margin: 0%; padding:-5px; font-size: 12px;}
.header .right-header { display: inline-block;}
button .right-header {width: 30px; height: 30px;}
.header  button { background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;padding: 5px;}
.header button img {width: 20px; height: 20px;}
.photo img {width: 100%;}
.buttons .left-button {padding: 5px; display: inline-block; width: 80%}
.buttons .left-button button {background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;}
.buttons .left-button button img {width: 23px; height: 23px;}
.buttons .right-button {padding: 10px; display: inline-block;}
.buttons .right-button button {background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;}
.buttons .right-button button img {width: 28px; height: 28px;}
.content .text { width: 100%; padding: 5px;}
.content p {font-family: sans-serif; font-size: 12px; text-align:inherit; padding: 5px;}